* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'EB Garamond', serif;
    background-color: #f4f4f4;
    cursor: none;
    height: 100vh;
}

img {
    position: absolute;
    top: 10px;
    right: 16px;
    border-radius: 22px;
    height: 100px;
}

section.books-list {
    padding: 26px;
    position: absolute;
    top: 0;
    left: 10px;
    user-select: none;
}

section.books-list h1 {
    font-size: 42px;
    margin-bottom: 4px;
    color: #598db0;
}

section.books-list h2 {
    border-bottom: 2px dotted #598db0;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 18px;
}

section.books-list p.all-books {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 14px;
}

section.books-list p em::after {
    content: ' /';
    color: #a86d5f;
    font-style: normal;
}

section.books-list.one span {
    color: #f4f4f4;
    opacity: 0;
}

section.books-list.one p {
    color: #000;
    opacity: 0;
}

section.books-list.two h1,
section.books-list.two h2 {
    opacity: 0;
}

section.books-list.two span {
    color: #f4f4f4;
    opacity: 1;
}

div.cursor {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 20px;
    height: 20px;
    background-color: #f3bac1;
    border-radius: 50%;
    transition: width 0.2s, height 0.2s;
}

div.cursor span {
    display: none;
}

div.cursor.is-down {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.cursor.is-down span {
    display: block;
    color: #fff;
    user-select: none;
}

@media (max-width: 660px) {
    body {
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    img {
        height: 50px;
    }
    section.books-list {
        padding: 20px;
        position: absolute;
        top: 0;
        left: 4px;
    }
    section.books-list h1 {
        font-size: 28px;
    }
    section.books-list h2 {
        padding-bottom: 10px;
        font-size: 12px;
    }
    section.books-list p.all-books {
        font-size: 10px;
        line-height: 1.3;
        margin-top: 16px;
    }
    div.cursor {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
